@model webTemplate.Models.ExternalLoginConfirmationViewModel
@{
    Layout = null;
    ViewBag.Title = "註冊";
}

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <!-- Theme style -->
    <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/Home.css")
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="@Url.Content("~/Content/SignIn.css")" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="text-primary">
        <div class="login-logo">
            光點數位官網後台管理系統
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">註冊帳號</p>

                <form action="@Url.Action("ExternalLoginConfirmation", "Account")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "帳號" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.RealName, new { @class = "form-control", placeholder = "姓名" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3 d-none">
                        @Html.TextBoxFor(m => m.returnUrl, new { @class = "form-control" })
                    </div>

                    <div class="row justify-content-center">

                        <!-- /.col -->
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-block">註冊</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <!-- AdminLTE App -->
    @Scripts.Render("~/Script/MainScripts")
    <script>
        function Submit() {
            var submit = document.getElementById("submitButton");
            submit.click();
        }
        $('.btn').prepend('<div class="hover"><span></span><span></span><span></span><span></span><span></span></div>');

        $('.social-btn').prepend('<div class="hover"><span></span><span></span><span></span><span></span></div>');
    </script>

</body>
</html>

