

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link href="~/Content/Home.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/SignIn.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="text-primary">
        <div class="login-logo">
            光點數位官網後台管理系統
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <form action="@Url.Action("SignIn","Account")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input type="text" name="UserName" class="form-control" placeholder="使用者帳號" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="Password" class="form-control" placeholder="密碼" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="icheck-primary">
                                <input type="checkbox" name="RememberMe" id="remember">
                                <label for="remember">
                                    記住我
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="submit" name="Submit" class="btn btn-primary btn-block" value="登入" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h6 class="text-danger">
                                @ViewBag.LoginError
                            </h6>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <form action="@Url.Action("ExternalLogin","Account")" method="post" id="ExternalLoginFacebook">
                        @Html.AntiForgeryToken()
                        <div class="flex-center">
                            <input type="text" name="provider" hidden value="Facebook" />
                            <input type="submit" name="Submit" hidden value="LineLoginIn" />
                            <button id="FaceBook" type="button" onclick="document.getElementById('ExternalLoginFacebook').submit()"
                                    class="text-primary btn" name="provider" value="Facebook">
                                <i class="fab fa-facebook fa-4x icon-3d">
                                </i>
                            </button>
                        </div>
                    </form>
                    <form action="@Url.Action("ExternalLogin","Account")" method="post" id="ExternalLoginGoogle">
                        @Html.AntiForgeryToken()
                        <div class="flex-center">
                            <input type="text" name="provider" hidden value="Google" />
                            <input type="submit" name="Submit" hidden value="LineLoginIn" />
                            <button id="Google" type="button" onclick="document.getElementById('ExternalLoginGoogle').submit()"
                                    class="text-red btn" name="provider" value="Google">
                                <i class="fab fa-google-plus-g fa-4x icon-3d">
                                </i>
                            </button>
                        </div>
                    </form>
                    <form action="@Url.Action("LineLoginDirect","Account")" method="post" id="LineLoginIn">
                        @Html.AntiForgeryToken()
                        <div class="flex-center">
                            <input type="submit" name="Submit" hidden value="LineLoginIn" />
                            <button type="button" onclick="document.getElementById('LineLoginIn').submit()" class="text-success btn">
                                <i class="fab fa-line fa-4x icon-3d text-success">
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <!-- AdminLTE App -->
    @*@Scripts.Render("~/Script/MainScripts")*@
    <script>
    </script>
</body>
</html>

