@{
    string BasePath = Url.Content("~");
    var meta_title = ViewBag.meta_title;
}

<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://www.sp88.com.tw/assets/images/logo-135x140-135x140.png" />
    <title>@meta_title - @ViewBag.Title</title>
    @Html.Partial("_Meta")
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    @Styles.Render("~/Content/Home.css")
    @Styles.Render("~/Style/MainStyles")
    @RenderSection("Styles", required: false)
    @*正常全域模式下設定*@
    <script>
        window.BasePath = '@BasePath';
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    @Html.AntiForgeryToken();

    <div class="wrapper">
        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        @RenderBody()

        @Html.Partial("_Footer")

        @Html.Partial("_Aside")
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/Script/MainScripts")
    @Scripts.Render("~/Script/LayoutComponents")
    <script src="~/Content/dist/js/demo.js"></script>
    @Scripts.Render("~/Scripts/Requirejs")

    @RenderSection("Scripts", required: false)
    <script>
        $.ajaxPrefilter(function (options) {
            if (!options.beforeSend && options.type === 'Post') {
                options.beforeSend = function (xhr) {
                    xhr.setRequestHeader("__RequestVerificationToken", $('[name=__RequestVerificationToken]').val());
                }
            }
        });
    </script>
    @*
        require全域設定(可在內頁重複設定)

        目前使用自訂套件名單有
        1. vuex-module-decorators - npm內容缺乏 umd & amd 編譯
        2. v-calendar - npm內容包含 umd 編譯，但在 amd 的內容缺少套件引入內容 (["vue"])
    *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script>
        requirejs.config({
            urlArgs(url) {
                return (url.indexOf('?') === -1 ? '?' : '&') + 'v=' + new Date().getTime();
            },
            waitSeconds: 100,
            paths: {
                "vue": "@Url.Content("~/node_modules/vue/dist/vue")",
                "vue-class-component": "@Url.Content("~/node_modules/vue-class-component/dist/vue-class-component")",
                "vue-property-decorator": "@Url.Content("~/node_modules/vue-property-decorator/lib/vue-property-decorator.umd")",
                "bootstrap-vue": "@Url.Content("~/node_modules/bootstrap-vue/dist/bootstrap-vue")",
                "vue-js-toggle-button": "@Url.Content("~/node_modules/vue-js-toggle-button/dist/index")",
                "quill": "@Url.Content("~/node_modules/quill/dist/quill.min")",
                "vue2-editor": "@Url.Content("~/node_modules/vue2-editor/dist/vue2-editor.umd")",
                "quill-image-resize-module": "@Url.Content("~/node_modules/quill-image-resize-module/image-resize.min")",
                "vue-input-tag": "@Url.Content("~/node_modules/vue-input-tag/dist/vueInputTag.umd")",
                "vue-image-lightbox": "@Url.Content("~/node_modules/vue-image-lightbox/dist/vue-image-lightbox.min")",
                "vue-easy-lightbox":"@Url.Content("~/node_modules/vue-easy-lightbox/dist/vue-easy-lightbox.umd.min")"
            },
            packages: [
                {
                    name: 'moment',
                    location: '@Url.Content("~/node_modules/moment")',
                    main: 'moment'
                }
            ]
        });
        </script>
    }
    else
    {
        <script>
        requirejs.config({
            @*urlArgs: 'v=@ScriptVersion',*@
            waitSeconds: 100,
            paths: {
                "vue": "@Url.Content("~/node_modules/vue/dist/vue.min")",
                "vue-class-component": "@Url.Content("~/node_modules/vue-class-component/dist/vue-class-component")",
                "vue-property-decorator": "@Url.Content("~/node_modules/vue-property-decorator/lib/vue-property-decorator.umd")",
                "bootstrap-vue": "@Url.Content("~/node_modules/bootstrap-vue/dist/bootstrap-vue.min")",
                "vue-js-toggle-button": "@Url.Content("~/node_modules/vue-js-toggle-button/dist/index")",
                "vue-summernote": "@Url.Content("~/node_modules/vue-summernote/src/plugins/editer/index")",
                "vue2-editor": "@Url.Content("~/node_modules/vue2-editor/dist/vue2-editor.umd")",
                "vue-quill-editor": "@Url.Content("~/node_modules/vue-quill-editor/dist/vue-quill-editor")",
                "quill": "@Url.Content("~/node_modules/quill/dist/quill.min")",
                "quill-image-resize-module": "@Url.Content("~/node_modules/quill-image-resize-module/image-resize.min")",
                "vue-input-tag": "@Url.Content("~/node_modules/vue-input-tag/dist/vueInputTag.umd")",
                "vue-image-lightbox": "@Url.Content("~/node_modules/vue-image-lightbox/dist/vue-image-lightbox.min")",
                "vue-easy-lightbox":"@Url.Content("~/node_modules/vue-easy-lightbox/dist/vue-easy-lightbox.umd.min")"
            },
            packages: [
                {
                    name: 'moment',
                    location: '@Url.Content("~/node_modules/moment")',
                    main: 'min/moment.min'
                }
            ]
        });
        </script>
    }
</body>
</html>